on:
  push:
    branches:
      #- dev
#      - '**hagerty-rc**'
      - 'v*.*.*-hagerty-rc.*'
    tags:
      - 'v*.*.*-hagerty'
  pull_request:
    branches:
      - dev
#      - '**hagerty-rc**'      
      - 'v*.*.*-hagerty-rc.*'
name: ci
jobs:
  build:
    name: Build docker image
    runs-on: us
    timeout-minutes: 15
    env:
      REMOTE_DOCKER_REGISTRY: registry.wiredcraft.net
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: "0"

      - name: Determine Docker image tag and name
        id: determine_tag
        run: |
          ref=$(git rev-parse --abbrev-ref HEAD)
          echo "::set-output name=ref::$(echo $ref)"
          echo "::set-output name=full::$(echo ${{ env.REMOTE_DOCKER_REGISTRY }}/omni/contact:$ref)"

      - name: Login to PrivateRegistry
        # docker/login-action@v1.8.0
        uses: docker/login-action@f3364599c6aa293cdc2b8391b1b56d0c30e45c8a
        with:
          registry: ${{ env.REMOTE_DOCKER_REGISTRY }}
          username: gh-actions
          password: ${{ secrets.HARBOR_US_GH_ACTIONS_PASSWORD }}

      - name: Build docker image
        run: |
          docker build -t ${{ steps.determine_tag.outputs.full }} \
            --build-arg OMNI_COMPONENT=omni-contact \
            --build-arg OMNI_COMPONENT_COMMIT=${{ github.sha }} \
            --build-arg OMNI_COMPONENT_VERSION=${{ github.ref }} \
            --build-arg NPM_TOKEN=${{ secrets.NPM_TOKEN }} \
            --build-arg NODE_ENV=production \
            .
      - name: Push docker image
        # v2.4.0
        uses: nick-invision/retry@7c68161adf97a48beb850a595b8784ec57a98cbb
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: docker push ${{ steps.determine_tag.outputs.full }}
